body {
	margin: 0;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	background-color: #E5E5E5;
	color: #14213D;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: lighter;
}
 
a {
	text-decoration: none;
	font-size: 40px;
	color: #FCA311;
}

a:hover {
	text-decoration: none;
	color: #14213D;
}

#banner {
  text-align: center;
  background-image: url("images/compras-6.jpg");
  #background-color: darkblue;
  background-size: cover;
  padding: 100px 100px 100px 100px;
  color: white;
  text-shadow: 1px 1px 5px black;
  opacity : 0.7;
}

#banner h1 {
  color: white;
  font-size: 50px;
}

#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer	{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

.card {
  padding: 50px;
  font-weight: lighter;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
